.footer-wrapper {
    padding: 20px 0;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__text {
    display: flex;
    justify-self: center;
    color: var(--text-color);
    padding-top: 20px;
}

